.header {
  align-items: center;
  background-color: #818db1;
  border: 1px solid #8eb2f7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: #000000;
  display: flex;
  justify-content: space-around;
  padding: 3px;
  position: fixed;
  width: 100%;
}
.expenseContainer {
  display: flex;
  width: 200px;
}

.expenseContainer p:nth-child(1) {
  margin-right: 8px;
  white-space: nowrap;
}
.expenseContainer p:nth-child(2) {
  margin-right: 5px;
}

.h2 {
  color: #000000;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.logoContainer {
  display: flex;
  justify-content: center;

  align-items: center
}