.divTable {
  display: flex;
  justify-content: center;
}

.table {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #007bff;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  width: 70%;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #007bff;
  color: #fff;
}

thead th {
  background-color: #0056b3;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #ddd;
}

button {
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 2px;
  padding: 4px 8px;
}

button:hover {
  background-color: #0056b3;
}
