.mainContainer {
  display: flex;
  height: 100vh;
  height: 20%;
  justify-content: center;
  margin-top: 58px;
}
.container {
  align-items: center;
  background-color: rgb(236, 231, 231);
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}
.container input:nth-child(1) {
  margin-right: 10px;
}

.selectContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.selectContainer select {
  border: 1px solid #b4cdec;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 8px;
  width: 100%;
}
.input {
  border: 1px solid #b4cdec;
  box-sizing: border-box;
  padding: 8px;
  width: 400px;
}
.input::placeholder {
  color: #6490ca;
}
